<div class="container my-4 task-container">

    <ul class="list-group">
        <li *ngFor="let task of tasks"
            class="list-group-item task-item d-flex justify-content-between align-items-center">
            <span>{{ task.name }} - {{ task.description }} - {{task.status}}</span>
            <div class="task-actions">
                <button class="btn btn-danger btn-sm shadow-sm animate-hover"
                    (click)="deleteTask(task.id)">Delete</button>
                <span *ngIf(false)>
                    <a class="btn btn-primary btn-sm shadow-sm animate-hover ms-2"
                        [routerLink]="['/tasks/edit', task.id]">Edit</a></span>

                <a class="btn btn-success btn-sm shadow-sm animate-hover ms-2"
                    (click)="changeStatus(task.id)">{{ task.status === 'in progress' ? 'set "done"' : 'set "in progress"' }}</a>

            </div>
        </li>
    </ul>
    <button class="btn btn-success mt-4 w-100 shadow animate-hover" routerLink="/task/new">Add New Task</button>
    <button class="btn btn-primary mt-2 w-100 shadow animate-hover" routerLink="/dashboard">Go to Dashboard</button>
</div>